@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Big+Shoulders+Display:wght@600;700&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Inter:wght@300;700&family=Lexend+Deca:wght@100;400;500&family=Montserrat:wght@500&family=Outfit:wght@300;500&family=Rubik:wght@500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* border: 1px solid black; */
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    background: hsl(0, 0%, 98%);
    height: 100vh;
    padding: 0rem 2.5rem 0 2.5rem;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  ::selection {
    background: rgba(255, 217, 0, 0.659);
  }

  a {
    text-decoration: none;
  }

  header {
    display: flex;
    width: 100%;
    min-height: 5.5rem;
    font-size: 1.1em;
    /* padding: 0rem 2.5rem 0 2.5rem; */
  }

  .logo-container {
    display: flex;
    /* width: 6.5rem; */
    /* height: 19rem; */
  }

  header img {
    min-width: fit-content;
  }

  header img:hover {
    opacity: 0.3;
  }

  header nav {
    color: hsl(0, 0%, 41%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35.5rem;
    font-size: 0.83em;
    letter-spacing: -0.1px;
    font-weight: 500;
    padding-right: clamp(0rem, 5.5%, 3em);
  }

  header nav  a:first-child {
    padding-right: 1.5rem;
  }

  header nav a {
    color: hsl(0, 0%, 41%);
  }

  header nav a:hover {
    color: black;
  }

  .features-container {
    width: fit-content;
    margin: 0;
    position: relative;
    display: inline-block;
    /* padding-bottom: 2em; */
  }

  .features-container:hover .features-dropdown {
    display: block;
  }

  .features-container button {
    /* background-color: #3498DB; */
    background-image: url(images/icon-arrow-down.svg);
    background-size: 0.7rem;
    background-position: right;
    background-repeat: no-repeat;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    display: flex;
    padding: 1em 0 1em 0;
    width: 5rem;
    font-size: 1.2em;
  }

  .features-container:hover button {
    background-image: url(images/icon-arrow-up.svg);
    color: black;
    border: none;
  }
  
  .features-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    width: 9.5rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin-right: -2px;
    /* margin-top: 1rem; */
    border-radius: 12px;
    font-size: 1.29em;
    padding: 1em 0 1em 0;
  }
  
  .features-dropdown a {
    color: hsl(0, 0%, 41%);
    padding: 0.3em 0 0.3em 1em;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
  }

  .features-dropdown img {
    padding-right: 0.8rem;
    padding-left: 0.5rem;
    display: flex;
  }

  .company-container {
    width: fit-content;
    margin: 0;
    position: relative;
    display: inline-block;
    /* padding-bottom: 2em; */
  }

  .company-container:hover .company-dropdown {
    display: block;
  }

  .company-container:hover button {
    background-image: url(images/icon-arrow-up.svg);
    color: black;
    border: none;
  }

  .company-container button {
    /* background-color: #3498DB; */
    background-image: url(images/icon-arrow-down.svg);
    background-size: 0.7rem;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    display: flex;
    padding: 1em 0 1em 0;
    width: 5rem;
    font-size: 1.2em;
  }
  
  .company-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    width: 7rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    margin-right: -2px;
    /* margin-top: 1rem; */
    border-radius: 12px;
    font-size: 1.29em;
    padding: 1em 0 1em 0;
  }
  
  .company-dropdown a {
    color: hsl(0, 0%, 41%);
    padding: 0.4em 0 0.4em 1.5em;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
  }

  header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 11.5rem;
    font-size: 0.85em;
    font-weight: 500;
    letter-spacing: -0.1px;
  }

  header div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 41%);
    font-size: 0.95em;
  }

  header div > a:hover {
    color: black;
  }
  
  header div button {
    padding: 0.5em 1.35em 0.5em 1.35em;
    border-radius: 14px;
    background-color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 41%);
    height: fit-content;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    letter-spacing: -0.5px;
  }

  header div button:hover {
    color: black;
    border: 2px solid black;
  }

  .hamburger, .hamburger-dropdown, .hamburger-img-close, .hamburger-container {
    display: none;
  }

  main {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 70rem;
    width: 100%;
    height: fit-content;
    /* padding-top: 2.5em; */
    /* padding: 3rem 2rem 0 2rem; */
  }

  article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 51%;
    max-height: 43rem;
    height: 100%;
  }

  article h1 {
    display: flex;
    align-items: flex-end;
    font-size: 5em;
    font-weight: 700;
    /* letter-spacing: 2px; */
    max-width: 50rem;
    width: 100%;
    line-height: 1;
    height: 100%;
    max-height: 19rem;
    padding-top: 1.5rem;
    letter-spacing: -0.8px;
  }

  .mobile-h1 {
    display: none;
  }

  article p {
    color: hsl(0, 0%, 41%);
    font-size: 1.15em;
    font-weight: 500;
    letter-spacing: 0.6px;
    max-width: 29rem;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 0.1px;
    padding-right: 1.5rem;
    padding-bottom: 0.4em;
  }

  article button {
    padding: 0.7em 1.6em 0.7em 1.6em;
    border-radius: 16px;
    width: fit-content;
    font-size: 1.1em;
    background: hsl(0, 0%, 8%);
    color: hsla(0, 0%, 98%, 0.937);
    cursor: pointer;
  }

  article button:hover {
    background-color: hsla(0, 0%, 98%, 0.937);
    color: hsl(0, 0%, 8%);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 30rem;
    padding-top: 2.5rem;
    /* padding-right: 8em; */
  }

  footer a {
    width: fit-content;
    height: fit-content;
    padding: 0 0.2em 0 0.2em;
    opacity: 0.3;
  }

  footer a:hover {
    opacity: 0.85;
  }

  footer a img {
    width: 100%;
  }

  .audiophile {
    margin-bottom: -8px;
  }

  main figure {
    display: flex;
    height: fit-content;
    width: clamp(15rem, 40.5%, 30rem);
    padding-top: 2rem;
  }

  .main-fig-img-1 {
    display: flex;
    width: 100%;
  }

  .main-fig-img-2 {
    display: none;
  }

  .attribution {
    font-weight: 100;
    display: flex;
    /* align-items: flex-end; */
    padding-top: 3em;
  }

  .attribution a {
    color: black;
    text-decoration: underline;
    padding-left: 0.4em;
  }

  .attribution a:hover {
    color: blueviolet;
    text-decoration: none;
  }

  @media (max-width: 52em) {
    br{content:' ';}
    br:after{content:' ';}

    body {
      padding: 0;
    }

    header nav {
      /* display: none; */
      width: fit-content;
    }

    header nav a ~ a, .features-container, .company-container {
      display: none;
    }

    header div a, header div button {
      display: none;
    }

    header {
      display: flex;
      width: 100%;
      min-height: 5rem;
      font-size: 1.1em;
      padding: 0rem 1.2rem 0 1.2rem;
    }
  
    .logo-container {
      display: flex;
      /* width: 6.5rem; */
      /* height: 19rem; */
    }
  
    header img {
      min-width: fit-content;
    }

    header div {
      width: fit-content;
    }

    .hamburger-container {
      width: fit-content;
      margin: 0;
      position: relative;
      display: inline-block;
      /* padding-bottom: 2em; */
    }
  
    .hamburger-container:hover .hamburger-dropdown, .hamburger-dropdown a,
     .hamburger-container .features-container, .hamburger-container .company-container, .hamburger-container,
      .hamburger-container .hamburger-dropdown a, .hamburger-container .ham-login-register a, .ham-login-register, .hamburger-container .ham-login-register button {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .hamburger {
      /* padding: 16px; */
      /* font-size: 16px; */
      border: none;
      cursor: pointer;
      color: hsl(0, 0%, 41%);
      /* padding: 1em 0 1em 0; */
      /* width: 5rem; */
      font-size: 1.2em;
      display: inline;
      width: fit-content;
      padding: 0;
    }
  
    .hamburger-container:hover .hamburger {
      color: black;
      border: none;
    }
    
    .hamburger-dropdown {
      display: none;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      background-color: white;
      width: 15rem;
      min-width: 10rem;
      /* height: 48rem; */
      height: 100vh;
      overflow: auto;
      box-shadow: 0px 0px 16px 150vh rgba(0, 0, 0, 0.689);
      z-index: 1;
      right: 0;
      margin-right: -3px;
      /* margin-top: 1rem; */
      border-radius: 0px;
      font-size: 1.29em;
      padding: 1em 0 1em 0;
      right: -16px;
      top: -29px;
    }

    .hamburger-container .features-container button, .hamburger-container .company-container button {
      padding: 0;
    }
    
    .hamburger-dropdown a {
      color: hsl(0, 0%, 41%);
      padding: 0.3em 0 0.3em 1em;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
    }

    .hamburger-dropdown .features-dropdown, .hamburger-dropdown .company-dropdown {
      position: relative;
    }

    .hamburger-dropdown a {
      font-size: 0.97em;
      margin-left: 0.6em;
      padding-top: 1em;
    }

    .hamburger-dropdown .features-container {
      margin: 1.6em 0 0 1.9em;
      font-size: 0.81em;
      /* padding-right: 1.5em; */
    }

    .hamburger-dropdown .features-container button {
      /* margin-left: -20px; */
      background-position: 5.4em 0.5em;
      width: 7rem;
      background-color: white;
    }

    .hamburger-dropdown .features-dropdown {
      width: 13rem;
      box-shadow: none;
    }

    .hamburger-dropdown .features-dropdown a {
      display: flex;
      flex-direction: row;
      padding: 0.5em 0.5em;
    }

    .hamburger-dropdown .features-dropdown img {
      width: 2.5rem;
      margin-left: -4px;
    }

    .hamburger-dropdown .company-container {
      margin: 1.2em 0 0 1.9em;
      font-size: 0.81em;
      padding-right: 1.5em;
    }

    .hamburger-dropdown .company-container button {
      /* margin-left: -20px; */
      background-position: 5.4em 0.5em;
      width: 7rem;
      background-color: white;
    }

    .hamburger-dropdown .company-dropdown {
      box-shadow: none;
      padding: 1em 0 0.5em 0;
    }

    .hamburger-dropdown .company-dropdown a {
      padding: 0.4em 0.4em;
    }

    .hamburger-img-close {
      display: flex;
      justify-self: flex-end;
      align-self: flex-end;
      margin: 0.4em 0.8em;
      padding-right: 0.33em;
    }

    /* .hamburger-img-close:active .hamburger-dropdown {
      display: none;
    } */

    /* .hamburger-container:active .hamburger-dropdown {
      display: none;
    } */

    .ham-login-register {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      margin: 0;
    }

    .ham-login-register a {
      margin-top: 0.5em;
    }

    .ham-login-register button {
      padding: 0.65em 5em 0.65em 5em;
      margin-top: 0.8em;
      background-color: white;
    }

    main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      /* align-items: center; */
      max-width: 100%;
      width: 100%;
      height: fit-content;
      padding: 0;
    }
  
    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-height: 40%;
      min-height: 21.5rem;
      flex: 1;
      order: 2;
      padding-top: 1.6rem;
    }
  
    article h1, .mobile-h1 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 2.3rem;
      font-weight: 900;
      /* letter-spacing: 2px; */
      max-width: 94%;
      width: 100%;
      max-height: 4rem;
      line-height: 0.9;
      padding-top: 0rem;
      text-align: center;
      /* overflow: hidden; */
    }

    article > h1 {
      display: none;
    }
  
    article p {
      color: hsl(0, 0%, 41%);
      font-size: 0.98em;
      font-weight: 500;
      letter-spacing: 0.2px;
      max-width: 94%;
      width: 100%;
      line-height: 1.6;
      text-align: center;
      padding: 0;
      margin-top: -10px;
    }
  
    article button {
      padding: 0.7em 1.4em 0.6em 1.4em;
      border-radius: 12px;
      width: fit-content;
      font-size: 1em;
      font-weight: 500;
      background: hsl(0, 0%, 8%);
      color: white;
      cursor: pointer;
    }
  
    footer {
      display: flex;
      justify-content: space-between;
      width: 93%;
      height: 3.2rem;
      max-height: 100%;
      padding-top: 1.5rem;
      padding-right: 0;
    }
  
    footer a {
      width: 4.7rem;
      height: fit-content;
      padding-bottom: 0.8rem;
    }
  
    footer a img {
      width: 100%;
    }

    .audiophile img {
      width: 80%;
    }
  
    main figure {
      display: flex;
      height: fit-content;
      width: 100%;
      padding: 0;
    }
  
    .main-fig-img-1 {
      display: none;
      width: 100%;
    }
  
    .main-fig-img-2 {
      display: inline;
      width: 100%;
    }

    .attribution {
      font-size: 0.8rem;
      display: flex;
      justify-self: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 0;
    }
  }

  @media (max-width: 15.5em) {
    article {
      padding-top: 3.3rem;
    }

    article h1 {
      padding-bottom: 0.2em;
    }
  }